In [5]:
# importing the csv files 
import pandas as pd

df_amazon = pd.read_csv('amazon_data.csv')
df_coke = pd.read_csv('coke_data.csv')
df_jnj = pd.read_csv('j&j_data.csv')

In [6]:
df_amazon.head()

                       Date    Open    High     Low   Close  Volume
0  2025-03-14T15:00:00.000Z  197.60  198.57  197.40  198.11  424006
1  2025-03-14T14:00:00.000Z  197.20  198.01  196.94  197.63  105407
2  2025-03-14T13:00:00.000Z  198.15  198.47  197.04  197.18  107892
3  2025-03-14T12:00:00.000Z  197.76  198.44  196.77  198.25  122777
4  2025-03-14T11:00:00.000Z  197.57  198.25  197.02  197.71  175457

In [8]:
# convert the "Date" column to a date and hour format with to_datetime() and creating separate columns
df_amazon['Date'] = pd.to_datetime(df_amazon['Date'])
 
df_amazon['date'] = df_amazon['Date'].dt.date
df_amazon['hour'] = df_amazon['Date'].dt.hour

df_amazon = df_amazon.drop(columns=['Date'])

df_amazon.head()

     Open    High     Low   Close  Volume        date  hour
0  197.60  198.57  197.40  198.11  424006  2025-03-14     0
1  197.20  198.01  196.94  197.63  105407  2025-03-14     0
2  198.15  198.47  197.04  197.18  107892  2025-03-14     0
3  197.76  198.44  196.77  198.25  122777  2025-03-14     0
4  197.57  198.25  197.02  197.71  175457  2025-03-14     0